Biblioteca pandas

In [1]:
#Fazendo o importe da biblioteca
import pandas as pd

In [2]:
#criar uma serie de dados com indices
dados = pd.Series([3000.0,-50.0000,9,50.0000])
dados

0    3000.0
1     -50.0
2       9.0
3      50.0
dtype: float64

In [3]:
dados1 = pd.Series([3,5,10,20,40])
dados1[1:]

1     5
2    10
3    20
4    40
dtype: int64

In [4]:
dados2 = pd.Series([3,5,'dez',20,30.2])
dados2

0       3
1       5
2     dez
3      20
4    30.2
dtype: object

In [5]:
dados3 = pd.Series([3,-3,5,8],index=['a','b','c','d'])

dados3['c']

5

In [6]:
#Comando para trazer as 5 primeiras linhas do objeto e o tipo dele
dados3.head()

a    3
b   -3
c    5
d    8
dtype: int64

In [7]:
dados3.describe()

count    4.000000
mean     3.250000
std      4.645787
min     -3.000000
25%      1.500000
50%      4.000000
75%      5.750000
max      8.000000
dtype: float64

Fazendo leitura de dados do Excell(pandas.read_csv)

In [8]:
import pandas as pd
import numpy as np

dados3 = pd.read_csv("carbono.csv", sep=",")
dados4 = np.array(dados3)
#soc carbono organico no solo
#sand quantidade de areia presente no solo
#clay quantidade de argila presente no solo
#silt é uma das frações minerais que formam o solo
#(A textura do solo vai variar de acordo com a proporção de cada um deles....)

dados4

array([[11, 12, 73, 14],
       [15, 13, 61, 26],
       [13, 14, 68, 18],
       ...,
       [14, 19, 54, 27],
       [10, 17, 59, 23],
       [13, 16, 68, 17]], dtype=int64)

In [9]:
#caso quiser converter virgula para ponto ou vice e versa

dadosTeste = pd.read_csv("exemplo.csv", sep=";")



dados4=dadosTeste.apply(lambda x: x.str.replace(',','.'))

dados4.transpose()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
X,6.909.930.441,2.283.529.239,5.934.107.475,9.022.876.044,587.330.066,7.417.711.868,2.904.547.851,7.610.339.071,9.901.694.385,9.962.770.252,...,0.353683696,8.145.101.431,6.553.630.407,296.389.714,4.962.445.043,2.790.641.324,2.024.599.814,4.696.046.193,179.894.583,1.300.741.185
Y,2.255.211.975,1.022.628.884,2.070.435.779,2.845.807.877,1.656.148.105,2.826.531.126,1.858.004.939,3.090.519.364,2.180.107.665,3.661.287.332,...,5.243.191.248,2.811.400.361,3.207.047.863,1.628.532.807,2.293.303.753,2.382.872.625,2.621.782.378,1.369.752.041,2.247.908.394,9.191.667.855

In [10]:
dados3.describe()

              SOC         Silt         Sand         Clay
count  3849.00000  3849.000000  3849.000000  3849.000000
mean     13.12159    14.650299    61.712133    23.608730
std       2.35025     2.335620     5.534316     4.877948
min       7.00000     7.000000    37.000000    14.000000
25%      12.00000    13.000000    59.000000    20.000000
50%      13.00000    15.000000    63.000000    22.000000
75%      15.00000    16.000000    65.000000    25.000000
max      20.00000    23.000000    74.000000    45.000000

In [11]:
#Calculando a matriz de correlações entre as variáveis
#Preste atenção que a matriz de correlação sempre tem que ser
#simétrica e ter 1s na diagonal principal:
corr2 = dados3.corr(method='pearson')
corr2

           SOC      Silt      Sand      Clay
SOC   1.000000  0.359832 -0.389408  0.270818
Silt  0.359832  1.000000 -0.479186  0.071768
Sand -0.389408 -0.479186  1.000000 -0.905435
Clay  0.270818  0.071768 -0.905435  1.000000

In [12]:
dados3.var()

SOC      5.523674
Silt     5.455120
Sand    30.628650
Clay    23.794373
dtype: float64

In [13]:
dados3['SOC']

0       11
1       15
2       13
3       13
4       11
5       16
6       10
7       13
8       10
9       11
10      14
11      14
12      17
13      10
14       9
15      15
16      12
17      14
18      15
19      18
20      18
21      12
22      17
23      12
24      14
25      14
26      13
27      13
28      12
29      14
        ..
3819    17
3820    15
3821    11
3822    16
3823    13
3824    14
3825    11
3826    13
3827    13
3828    18
3829    12
3830    13
3831    14
3832    16
3833    10
3834    16
3835    13
3836    16
3837    10
3838    15
3839    13
3840    13
3841    11
3842    16
3843    13
3844    17
3845    11
3846    14
3847    10
3848    13
Name: SOC, Length: 3849, dtype: int64