In [1]:
#programa da massa corporal
peso=int(input('digite o peso'))
peso
Altura=float(input('digite a altura'))
Altura

IMC=peso/Altura**2
print(IMC)

digite o peso23
digite a altura12
0.1597222222222222

In [2]:
for tabuada in range(2,11):
    for num in range(0,11):
        print(tabuada,'X',num,'=',tabuada*num)
        if num == 10:
            print('\n')

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40


5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


6 X 0 = 0
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70


8 X 0 = 0
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80


9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90


10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [10]:
#fazer programa de tabuada de 2 a 10 de forma automatica
n=int(input('digite um numero de 1 a 10'))
cont=1
if n>=1 and n<=10:
    while cont<=10:
        tab= n*cont
        print("%d x %d = %d" %(n,cont,tab))
        cont=cont+1
    else:
        print("apenas valores de 1 a 10")

digite um numero de 1 a 102
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
apenas valores de 1 a 10

In [12]:
#3.a)criar uma list com nome lista
list=['Nome','Nota 1', 'Nota 2','Nota 3', 'Lorena',5.5,4.5,6.5,'Francisco',6.5,3.8,9.5,'Julia',4.5,3.5,5.0]
list[4]

'Lorena'

In [14]:
dici={'Nome':['Nota 1','Nota 2', 'Nota 3'],'Lorena':[5.5,4.5,6.5],'Francisco':[6.5,3.8,9.5],'julia':[4.5,3.5,5.0]}
type(dici)
dici['Francisco']

[6.5, 3.8, 9.5]

In [46]:
#criar um arry(numpy) com nome arrnp
import numpy as np
listmatrix=[['Nome','Nota 1', 'Nota 2','Nota 3'],
            ['Lorena',5.5,4.5,6.5],
            ['Francisco',6.5,3.8,9.5],
            ['Julia',4.5,3.5,5.0]]
arrnp= np.array(listmatrix)
arrnp

array([['Nome', 'Nota 1', 'Nota 2', 'Nota 3'],
       ['Lorena', '5.5', '4.5', '6.5'],
       ['Francisco', '6.5', '3.8', '9.5'],
       ['Julia', '4.5', '3.5', '5.0']], dtype='<U9')

In [41]:
#Criar um Series (Pandas), com o nome ‘serpd’
import pandas as pd
serpd=pd.Series(dici)
serpd

Lorena       [5.5, 4.5, 6.5]
Francisco    [6.5, 3.8, 9.5]
julia        [4.5, 3.5, 5.0]
dtype: object

In [42]:
#Criar um DataFrame (Pandas), com o nome ‘dafra’
dafra=pd.DataFrame(dici)
dafra

   Lorena  Francisco  julia
0     5.5        6.5    4.5
1     4.5        3.8    3.5
2     6.5        9.5    5.0

In [26]:
#Calcular a média final do Franciso (media=(Nota1 + Nota2 + Nota3)/3, 
#a partir da ‘list’ e a partir do array(Numpy) e a partir da Series(Pandas)
medialist= ((list[9]+list[10]+list[11])/3)
round(medialist,3)

6.6

# partir do array(Numpy)

In [52]:
#a partir do array
#pegando elemento pelo index da posicao
nota1 = float(arrnp[2][1])
nota2 = float(arrnp[2][2])
nota3 = float(arrnp[2][3])
calculo = (nota1+nota2+nota3)/3
calculo

6.6000000000000005

In [56]:
nota1 = float(serpd[1][0])
nota2 = float(serpd[1][1])
nota3 = float(serpd[1][2])
calculo1 = (nota1+nota2+nota3)/3
calculo1

6.6000000000000005